# Environment variables

# Required: Set the base URL of the application. Mostly used for the SEO tags. No trailing slash.
NEXT_PUBLIC_BASE_URL=

# ------ Dev ------

# Optional: Set the dev mode ("true" or "false"). Default to "false".
NEXT_PUBLIC_DEV_MODE=false

# ------ Telemetry ------

# Optional: Set the log level ("error", "warn", "info", "debug"). Default to "info".
NEXT_PUBLIC_LOG_LEVEL=info

# ------ Verida Network ------

# Optional: Set the Verida Network ("myrtle", "banksia", "devnet", "local"). Default to "banksia".
NEXT_PUBLIC_VERIDA_NETWORK=banksia

# Required: Set the Verida DID for this application. Required for Verida auth.
NEXT_PUBLIC_VERIDA_APP_DID=

# Data connector server URL
NEXT_PUBLIC_DCS_URL=

# Endpoint to initiate auth consent for API token with Verida Vault
NEXT_PUBLIC_VAULT_AUTH_ENDPOINT=
